<!-- Tabs -->
<app-user-form-navbar
  (selectedTabIndexChanged)="onSelectedTabIndexChange($event)"
></app-user-form-navbar>

<!-- Sign in tab -->
@if (selectedTabIndex === USER_LOGIN_TAB_INDEX) {
  <app-user-sign-in
    [errorMessage]="errorMessage"
    (submitLogin)="onLoginClick($event)"
  ></app-user-sign-in>
}

<!-- Sign up tab -->
@if (selectedTabIndex === USER_REGISTER_TAB_INDEX) {
  <app-user-sign-up
    [errorMessage]="errorMessage"
    (submitNewUser)="onRegisterClick($event)"
  ></app-user-sign-up>
}
