<!-- Sign in/up navbar -->
<!-- TODO: Create a login-navbar component with 2 Tabs: Sign in / Sign up -->

<!-- Banking Logo -->
<!-- TODO: Create a company-logo component -->

<!-- Sign up tab -->
<!-- TODO: If sign up tab selected, then display user-signup component -->

<!-- Sign in tab -->
<!-- TODO: If sign in tab selected, then display user-signin component -->

<!-- Logo / Footer / ToS -->
<!-- TODO: Create a login-footer component displaying disclaimers/terms of service or something similar -->