<div class="container">
  <!-- Title -->
  <h1>{{ title }}</h1>

  <!-- Server error message -->
  <app-error-message [message]="errorMessage"></app-error-message>

  <!-- User credentials form -->
  <form (ngSubmit)="onSubmit()" [formGroup]="loginFormGroup">
    <app-email-input [emailFormControl]="emailFormControl"></app-email-input>
    <app-password-input
      [passwordFormControl]="passwordFormControl"
    ></app-password-input>

    <!-- Submit button -->
    <button class="submit-button" mat-flat-button type="submit" color="primary">
      {{ buttonText }}
    </button>
  </form>
</div>
